<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row no-gutters pt-5">
    <div class="offset-3 col-6">
      <h2>Log In</h2>
      <div class="label-input-container-sm">
        <div class="label-input-item">
          <div class="row no-gutters">
            <%= f.label :email, class: 'col-4' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-8' %>
          </div>
        </div>

        <div class="label-input-item">
          <div class="row no-gutters">
            <%= f.label :password, class: 'col-4' %>
            <%= f.password_field :password, autocomplete: "current-password", class: 'col-8' %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="row no-gutters pt-3">
            <div class="offset-4 col-8">
              <label class="checkbox-container">
                <%= f.check_box :remember_me, id: 'remember_me' %>
                <span class="checkmark"></span>
                <label for="remember_me">Remember Me</label>
              </label>
            </div>
          </div>
        <% end %>

        <%= f.submit "Log In", class: 'form-submit' %>
      </div>

      <%= link_to 'Sign Up', new_user_registration_path, class: 'app-primary-link' %>
      <br>
      <%= link_to 'Forgot Your Password', new_user_password_path, class: 'app-primary-link' %>
    </div>
  </div>
<% end %>