<footer class="container footer-container">
  <div class="row">
    <div class="col-3">
      <h2 class="app-name">DELIGHTYE</h2>
      <p class="app-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, tempora? Repudiandae nam odit et autem?</p>
    </div>
    <div class="col-2 pl-5">
      <h3 class="menu-heading">Menu</h3>
      <ul class="footer-list">
        <li class="py-2"><%= link_to 'Home', root_path, class: 'app-secondary-link' %></li>
        <li class="py-2"><%= link_to 'Recipies', recipies_home_index_path, class: 'app-secondary-link' %></li>
        <li class="py-2"><%= link_to 'Submit Recipe', '#_', class: 'app-secondary-link' %></li>
        <li class="py-2"><%= link_to 'Contect Us', '#_', class: 'app-secondary-link' %></li>
        <li class="py-2"><%= link_to 'About Us', '#_', class: 'app-secondary-link' %></li>
      </ul>
    </div>
    <div class="col-4 pl-5">
      <h3 class="menu-heading">Help</h3>
      <ul class="footer-list">
        <li class="py-2"><%= link_to 'FAQs', root_path, class: 'app-secondary-link' %></li>
        <li class="py-2"><%= link_to 'Terms and Conditions', '#_', class: 'app-secondary-link' %></li>
        <li class="py-2"><%= link_to 'Privacy Policy', '#_', class: 'app-secondary-link' %></li>
      </ul>
    </div>
    <div class="col-3">
      <h3 class="menu-heading">Have a Question?</h3>
      <ul class="footer-list">
        <li class="py-2 d-flex justify-content-start"><span class="pr-4 my-auto"><i class="fas fa-map-marker-alt"></i></span><span>203 Fake St. Mountain View, San Francisco, California, USA</span></li>
        <li class="py-2 d-flex justify-content-start"><span class="pr-4 my-auto"><i class="fas fa-phone-alt"></i></span><%= link_to '+2 333 123 4567', 'tel:+92-333-1234567', class: 'app-secondary-link' %></li>
        <li class="py-2 d-flex justify-content-start"><span class="pr-4 my-auto"><i class="fas fa-envelope"></i></span><%= link_to 'info@yourdomain.com', 'mailto:info@yourdomain.com', class: 'app-secondary-link' %></li>
      </ul>
    </div>
  </div>
</footer>