<div class="container">
  <div class="d-flex justify-content-center py-3">
    <div class="dropdown primary-dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="generate_meal_plan" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Generate Meal Plan
      </button>
      <div class="dropdown-menu" aria-labelledby="generate_meal_plan">
        <%= link_to 'Generate 1 week Meal Plan', new_meal_plan_path, class: 'dropdown-item' %>
        <a class="dropdown-item" href="#">Generate 2 Week Meal Plan</a>
      </div>
    </div>
  </div>
</div>

<div class="filters-container py-3">
  <div class="container">
    <div class="d-flex justify-content-center">
      <ul class="inline-primary-list">
        <li><%= link_to 'All', '#_', class: 'selected' %></li>
        <li><%= link_to 'Vegetarian', '#_' %></li>
        <li><%= link_to 'Vegan', '#_' %></li>
        <li><%= link_to 'Pescatarian', '#_' %></li>
        <li><%= link_to 'Keto', '#_' %></li>
        <li><%= link_to 'Mediterranean', '#_' %></li>
        <li><%= link_to 'Kids', '#_' %></li>
        <li><%= link_to 'Healthy', '#_' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="filters-container pb-5">
  <div class="container">
    <div class="d-flex justify-content-center">
      <ul class="inline-primary-list">
        <li><%= link_to 'All', '#_', class: 'selected' %></li>
        <li><%= link_to 'Breakfast', '#_' %></li>
        <li><%= link_to 'Lunch', '#_' %></li>
        <li><%= link_to 'Dinner', '#_' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="new-this-week-container">
  <div class="container">
    <div class="row">
      <% 10.times do %>
        <div class="col-lg-3">
          <%= render partial: '/shared/meal_item', locals: { meal_item_image_url: image_url('home/healthy.jpg'), top_left_corner_text: 'Lunch', floating_size: 'md' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>