<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="row no-gutters pt-5">
    <div class="offset-3 col-6">
      <%= render "devise/shared/error_messages", resource: resource %>
      <h2>Forgot your password?</h2>
      <div class="label-input-container-sm">
        <div class="label-input-item">
          <div class="row no-gutters">
            <%= f.label :email, class: 'col-4' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-8' %>
          </div>
        </div>

        <%= f.submit "Send me reset password instructions", class: 'form-submit' %>
      </div>

      <%= link_to 'Login', new_user_session_path, class: 'app-primary-link' %>
      <br>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'app-primary-link' %>
    </div>
  </div>
<% end %>