<!DOCTYPE html>
<html>
  <head>
    <title>Planshopcook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: '/shared/navbar' %>
    <div class="container breadcrumbs-container">
      <%= breadcrumbs.render(format: :inline, separator: " / ") %>
    </div>
    <%= yield %>
    <%= render partial: '/shared/footer' %>
  </body>
</html>
